<html lang="en">

<head>
  <!-- <style type="text/css">
    @charset "UTF-8";

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak,
    .ng-hide:not(.ng-hide-animate) {
      display: none !important;
    }

    /* ng\:form {
      display: block;
    } */

    .ng-animate-shim {
      visibility: hidden;
    }

    .ng-anchor {
      position: absolute;
    } 
  </style>-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Myan Quiz - မြန်မာ့ ပဟေဠိ</title>
  <link rel="icon" href="img/logo.png" sizes="20*20" />
  <meta property="og:title" content="Predictable Eyes">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Predictable Eyes"> 

  <!-- <link rel="stylesheet" href="img/logo.png"> -->
  <link href="https://fonts.googleapis.com/css2?family=Lato&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/swiper-bundle.css">
  <link rel="stylesheet" href="css/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- ngView: -->
  <div ng-view="">
    <div>
      <div class="wrapper">
        <!-- <div class="lan-bar">
          <span ng-class="{'active': lan == 'en'}" ng-click="changeLanguage('en')" class="active">ENG</span>
          <span class="vertical-line"></span>
          <span ng-class="{'active': lan == 'mm'}" ng-click="changeLanguage('mm')">မြန်မာ</span>
        </div> -->

        <div class="page-title">
          <img src="img/logo.png" alt="">
          <h3 class="title mytitle" >
            Myan Quiz - မြန်မာ့ ပဟေဠိ
          </h3>
        </div>

        <div class="flex flex-wrapper">
          <div class="flex-item">
            <h3 class="title mytitle">
              Myan Quiz - မြန်မာ့ ပဟေဠိ
            </h3>
            <div class="myid">
              <img src="img/logo.png" alt="Apk Icon">
            </div>
            <div class="available">
              <p style="font-weight: bold; font-size: 16px;" class="ng-binding">For Downloading Application
              </p>
              <p style="margin-bottom: 20px;margin-top: 10px;"><b>Available On</b>
              </p>
              <div class="stores">
                <div class="flex justify-content-start">
                  <div class="store-icon">
                    <a href="https://play.google.com/store/apps/details?id=com.mmsoftware100.makingmoney">
                      <img src="img/play-store.png" alt="">
                    </a>
                  </div>
                 <div class="store-icon">
                    <a href="https://apkpure.com/p/com.mmsoftware100.makingmoney">
                      <img src="img/apkpure.png" alt="">
                    </a>
                  </div>
                  <!-- <div class="store-icon">
                    <a href="https://apps.apple.com/us/app/myid-your-digital-hub/id1477175837">
                      <img src="img/app-store.png" alt="">
                    </a>
                  </div> -->
                </div>
                <div class="flex">
                  <div class="store-icon">
                    <a href="app.apk" download="app.apk">
                      <img src="img/apk.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

          
          </div>

          <div class="flex-item slider">
            <div class="swipe-slider">
              <!-- Slider main container -->
              <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper" id="swiper-wrapper-d102a41ea6ddbf544" aria-live="off"
                  style="transition-duration: 0ms; transform: translate3d(-1426px, 0px, 0px);">
                  <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group"
                    aria-label="1 / 6" style="width: 693px; margin-right: 20px;">
                    <div>
                      <!-- <h3 class="title">One-place application
                        for all of your digital needs</h3>
                      <p class="sub-title ng-binding">Access all your digital needs in one place</p> -->
                      <div class="swiper-img">
                        <img src="img/love.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group"
                    aria-label="2 / 6" style="width: 693px; margin-right: 20px;">
                    <div>
                      <h3 class="title">ဉာဏ်စမ်းဖြေ</h3>
                      <p class="sub-title ng-binding">မြန်မာနိုင်ငံနဲ့ ပတ်သတ်တဲ့<br>ဗဟုသုတ ဉာဏ်စမ်းမေးခွန်းတွေ</p>
                      <div class="swiper-img">
                        <img src="img/love.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group"
                    aria-label="3 / 6" style="width: 693px; margin-right: 20px;">
                    <div>
                      <h3 class="title">ပွိုင့်တွေစု</h3>
                      <p class="sub-title ng-binding">အဖြေမှန်ရင် ပွိုင့်ရမယ်</p>
                      <div class="swiper-img">
                        <img src="img/health.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group"
                    aria-label="4 / 6" style="width: 693px; margin-right: 20px;">
                    <div>
                      <h3 class="title">ဖုန်းဘေထုတ်</h3>
                      <p class="sub-title ng-binding">ရလာတဲ့ ပွိုင့်တွေနဲ့<br>ဖုန်းဘေထုတ်မယ်</p>
                      <div class="swiper-img">
                        <img src="img/eco.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="5 / 6"
                    style="width: 693px; margin-right: 20px;">
                    <div>
                      <h3 class="title">Myan Quiz</h3>
                      <p class="sub-title ng-binding">မြန်မာ့ပဟေဠိ<br>မိုဘိုင်းဂိမ်း</p>
                      <div class="swiper-img">
                        <img src="img/all.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                    data-swiper-slide-index="0" role="group" aria-label="6 / 6"
                    style="width: 693px; margin-right: 20px;">
                    <div>
                      <!-- <h3 class="title">Your Entertainment Hub</h3>
                      <p class="sub-title ng-binding">Enjoy endless entertainments</p> -->
                      <div class="swiper-img">
                        <img src="img/logo.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                    class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span
                    class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                    aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 4"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span
                  class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>2021 ©Copyright  by <a href='https://mmsoftware100.com'>mmsoftware100.com</a>. All rights reserved.</p>
  </div>

  <script src="js/jquery-3.5.0.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="js/angular.min.js"></script>
  <script src="js/angular-translate.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-cookies.min.js"></script> -->
  <script src="js/myapp.js"></script>



</body>

</html>